@model MDTasks.Models.ProjectViewModel
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Project</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item" aria-current="page">Project</li>
                        <li class="breadcrumb-item active" aria-current="page">Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post" asp-action="InsertOrUpdate" class="form-horizontal form-material mx-2">
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Project Name</label>
                            <div class="col-md-12">
                                <input name="ProjectName" type="text" value="@Model.ProjectName"
                                       class="form-control ps-0 form-control-line">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Manager Name</label>
                            <div class="col-sm-12 border-bottom">
                                <select name="EmployeeID" class="form-select shadow-none ps-0 border-0 form-control-line">
                                    @foreach (var employee in ViewBag.Employees)
                                    {
                                        @if(employee.Id == Model.EmployeeID)
                                        {
                                            <option value="@employee.Id" selected>@employee.FullName (@employee.EmployeeID)</option>
                                        }else{
                                            <option value="@employee.Id">@employee.FullName (@employee.EmployeeID)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-12 mb-0">Description</label>
                            <div class="col-md-12">
                                <textarea name="Description" rows="5" class="form-control ps-0 form-control-line">@Model.Description</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 d-flex">
                                <button class="btn btn-success text-white" style="margin-right:10px">
                                    Create
                                </button>
                                <a asp-action="Index" class="btn btn-danger text-white">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>