@model IEnumerable<DeviceManagementSystem.Models.Manufacturer>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Manufacturers</h2>
<a asp-action="Create" class="btn btn-primary">Add New Manufacturer</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>City</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manufacturer in Model)
        {
            <tr>
                <td>@manufacturer.name</td>
                <td>@manufacturer.country</td>
                <td>@manufacturer.city</td>
                <td>
                    <a asp-action="Details" asp-route-id="@manufacturer.id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@manufacturer.id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@manufacturer.id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
